:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--Light-gray);
    font-size: 12px;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    border-radius: 1em;
    }

.itens {
    width: 310px;
    height: 80vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
}

.qr-code {
    width: 90%;
    height: 55%;
    border-radius: 20px;
    position: relative;
    top: -72px;
    margin-bottom: -63px;
}

.main {
    padding-top: -5em;
    margin-top: -6rem;
    font-family: "Outfit", sans-serif;
    font-size: 1.2em;
    width: 90%;
}

.main h1 {
    color: var(--Dark-blue);
    padding-bottom: 4px;
    padding-top: 35%;
    margin-top: 1px;
}

.main p {
    color: var(--Grayish-blue);
    width: 80%;
    margin-left: 10%;
    font-size: 15px;
}

.attribuition {
    text-align: center;
    position: relative;
    bottom: 45px;
}

.attribuition  a:hover {
    color: rgb(55, 182, 55);
    text-decoration: underline;
}










